---
- hosts: all
  become: yes
  tasks:
    - name: ensure nginx is at the latest version
      apt: 
        name: nginx 
        state: latest
    
    - name: start nginx
      command: service nginx start

    - name: install mysql
      apt:
        name: mysql-server
        state: latest

    - name: start mysql
      command: service mysql start

    - name: "Create log tree"
      file:
        path: "/tmp/logs"
        state: directory
        owner: root
        group: root

    - name: "Import Nginx configuration"
      template:
        src: templates/default.conf
        dest: /etc/nginx/conf.d/default.conf
        owner: root
        group: root
        mode: '0644'

    - name: "Import New Welcome Page with your name"
      template:
        src: templates/index.html
        dest: /var/www/html/index.html
      vars:
        name: 'Jules'




